:host {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));

  .mat-card-header .mat-card-title {
    height: 40px;
  }

  mat-card {
    &:hover {
      cursor: pointer;
    }
    img {
      max-height: 200px;
      object-fit: cover;
    }
  }

  mat-spinner {
    margin: auto;
  }
}
